@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
*{
     font-family: "Momo Trust Sans", sans-serif;
 
}